<h1>Editar viaje</h1>

<%= render 'form', trip: @trip %>

<%= link_to 'Ver', @trip, class: "btn btn-default" %> |
<%= link_to 'Atras', trips_path %>
<script type="text/javascript">
	var menuFlag = 4;
</script>