<% if current_session.try(:admin?) %>
<div class="row">

	<div class="col-md-4"></div>
	<div class="col-md-4">

		<h3>Administrar guías turísticos</h3>
		<%= link_to 'Administrar guías turísticos', editar_path,  class: 'btn btn-primary btn-sm' %>	

		<h3>Administrar Otros</h3>
		<%= link_to 'Administrar Otros', editar_path,  class: 'btn btn-primary btn-sm' %>	


	</div>
	<div class="col-md-4">


		
	</div>
</div>

<% end %>